#pokemon-page {
    max-width: 1200px;
    margin: 5rem auto 2rem auto;
    padding: 0 2rem;
    
    header {
        background-color: #333;
        border-radius: 50px;
        //border-top-left-radius: 50px;
        //border-bottom-left-radius: 50px;
        margin-bottom: 1rem;
        display: flex;
        @media screen and (min-width: $phone) and (max-width: $iphone) {
            margin-bottom: 0.5rem;
        }
        @media screen and (max-width: $desktop) {
            border-radius: 0;
        }
    }

    header .icons-wrapper { margin: auto }
    header .icons-wrapper a img.type-icon { width: 50px; margin: 0 0.2rem; opacity: 0.5 }
    header .icons-wrapper a img.type-icon:hover { width: 50px; margin: 0 0.2rem; opacity: 1 }
    
    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(3rem, auto);
        grid-gap: 1rem;
        
        @media screen and (min-width: $tablet) and (max-width: $laptop) {
            grid-template-columns: (1fr 1fr 1fr);
        }
        @media screen and (min-width: $iphone) and (max-width: $tablet) {
            grid-template-columns: (1fr 1fr);
        }
        @media screen and (min-width: $phone) and (max-width: $iphone) {
            grid-template-columns: (1fr);
            grid-gap: 0.5rem;
        }
        
        article {
            border: 1px solid black;
            min-height: 350px;
            max-width: calc(350px * 2);
            @media (min-width: $phone) and (max-width: $iphone) {
                min-height: 200px;
            }
        }
    }
}